@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-light: #e6f6f8;
  --primary-light-hover: #daf1f4;
  --primary-normal: #05a3b5;
  --primary-normal-hover: #05a3b5;
  --primary-normal-active: #048291;
  --primary-dark: #047a88;
  --primary-dark-hover: #03626d;
  --primary-dark-active: #024951;
  --primary-darker: #02393f;

  --neutral-normal: #ffffff;
  --neutral-normal-hover: #d9d9d9;
  --neutral-normal-active: #bababa;
  --neutral-dark: #595959;
  --neutral-dark-hover: #404040;
  --neutral-dark-active: #1c1c1c;
}

body {
  margin: 0 0;
  background-color: var(--neutral-normal);
}

a {
  all: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

h1 {
  color: var(--primary-normal);
  font-size: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

h2 {
  color: var(--primary-normal);
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

h3 {
  color: var(--primary-normal);
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

h4{
  color:#02393f;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.page {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
  padding: 54px 0px;
  gap: 18px;
}

@media (max-width: 1240px) {
  .page {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 480px) {
  .page {
    padding-left: 16px;
    padding-right: 16px;
  }
}
