<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Clinical Trial</title>

    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/nav.css" />
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
</head>
<body>
    <nav>
      <div class="logo-nav">
        <a href="/">
          <img src="/assets/logo.png" alt="logo" />
        </a>
      </div>
      <div class="nav-item">
        SMA 3 Makassar
      </div>
    </nav>

    <div class="home-page">
    <h1>Add Clinical Trial Data after 24 Hours</h1>
    <form action="/updateClinicalTrial/{{nisn}}" method="POST">

        <input type="hidden" name="nisn" value="{{nisn}}">

        <div class="page">
        <label for="heart_rate_24">Heart Rate (24 Hours):</label>
        <input  type="number" id="heart_rate_24" name="heart_rate_24"><br><br>
        </div>

        <div >
        <label for="blood_pressure_24">Blood Pressure (24 Hours):</label>
        <input  type="text" id="blood_pressure_24" name="blood_pressure_24"><br><br>
        </div>

        <div >
        <label for="respirate_24">Respirate (24 Hours):</label>
        <input type="number" id="respirate_24" name="respirate_24"><br><br>
        </div>

        <div >
        <label for="temperature_24">Temperature (24 Hours):</label>
        <input  type="number" id="temperature_24" name="temperature_24"><br><br>
        </div>

        <div >
        <label for="pain_score_24">Pain Score (24 Hours):</label>
        <input  type="number" id="pain_score_24" name="pain_score_24"><br><br>
        </div>

        <div >
        <label for="pain_location_24">Pain Location (24 Hours):</label>
        <input type="text" id="pain_location_24" name="pain_location_24"><br><br>
        </div>

        <div >
        <label for="pain_quality_24">Pain Quality (24 Hours):</label>
        <input  type="text" id="pain_quality_24" name="pain_quality_24"><br><br>
        </div>

        <div >
        <label for="pain_quantity_24">Pain Quantity (24 Hours):</label>
        <input  type="text" id="pain_quantity_24" name="pain_quantity_24"><br><br>
        </div>

        <div >
        <label for="pain_frequency_24">Pain Frequency (24 Hours):</label>
        <input class="form-control" type="text" id="pain_frequency_24" name="pain_frequency_24"><br><br>
        </div>

        <div >
        <label for="pain_situation_24">Pain Situation (24 Hours):</label>
        <input type="text" id="pain_situation_24" name="pain_situation_24"><br><br>
        </div>

        <div>
        <label for="pain_factors_24">Pain Factors (24 Hours):</label>
        <input type="text" id="pain_factors_24" name="pain_factors_24"><br><br>
        </div>

        <div>
        <label for="other_symptoms_24">Other Symptoms (24 Hours):</label>
        <input type="text" id="other_symptoms_24" name="other_symptoms_24"><br><br>
        </div>
        <input type="submit" value="Submit">
    </form>

    </div>
</body>
</html>
