<!-- views/anakList.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>Anak List</title>
</head>
<body>
    <h1>List of Anak</h1>
<!-- List of anak -->
<ul>
    {{#each anakList}}
    <li>
        <a href="/anak/{{nisn}}">{{nama}}</a>
    </li>
    {{/each}}
</ul>

</body>
</html>
