<!-- views/anakList.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>Anak List</title>
</head>
<body>
    <h1>List of Anak</h1>
    <ul>
        {{#each anakList}}
        <li>
            <strong>Name:</strong> {{nama}} <br>
            <strong>Birth Date:</strong> {{tanggal_lahir}} <br>
            <strong>Entry Year:</strong> {{tahun_masuk}}
        </li>
        {{/each}}
    </ul>
</body>
</html>
