<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tambah Reaksi Tambahan</h1>
    <form action="/submitReaksi" method="post">
        <input type="hidden" name="rapot_id" value="{{rapotId}}">
        
        <!-- Other form fields for reaksi tambahan data -->
        <label for="side_effect_date">Tanggal Side Effect:</label>
        <input type="date" id="side_effect_date" name="side_effect_date">
        
        <label for="side_effect">Side Effect:</label>
        <textarea id="side_effect" name="side_effect" rows="4" cols="50"></textarea>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>